
.headerone{
    background-color: #F3F1F1;
}
.headerone a{
    color: #939090;
    font-size: 80%;
}
.headerone a:hover{
    color: #000000;
}
.headertwo{
    background-color: white;
}
.headertwo input{
    border-radius: 5px 0 0 5px;
}
.headertwo button{
    margin-left: 0;
    
}
.cabecalho{
    background-color: white;
    height: 90px;
    line-height: 90px;
    text-align: center;
}
.menu ul li a{
    text-decoration: none;
    margin: 0 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}
.menu ul li a:hover{
    color: #004d00;
    text-decoration: none;
}
.promocao{
    border: 1px solid #d9d9d9;
    padding: 2%;
    margin-top: 5%;
}
.promocao h1{
    font-family: Helvetica, sans-serif;
    font-size: 21px;
    color: #00802b;
    font-weight: bold;
}
.produto{
    padding: 2%;
}
.produto img{
    max-width: 100%;
    max-height: 100%;
}
.produto h2{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: black;
    margin-top: 5%;
    font-weight: bold;
}
.produto h5{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    color: black;
}
.produto h4{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: red;
    font-weight: bold;
}
.produto button{
    border-radius: 20px;
    color: white;
    background-color: #009900;
    margin: 10px 0 0 14px;
}
hr{
    background-color: #d9d9d9;
}
.cadastrar_se{
    margin-top: 5%;
    padding: 2%;
    background-color: #d9d9d9;
}
.cadastrar_se h6{
    color:  #666666;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.cadastrar_se form:nth-child(1){
    margin-top: 27px;
}
.cadastrar_se button{
    border-radius: 20px;
    color: white;
    background-color: #009900;
    margin-top: 26px;
}
.engloba_cate_prod{
    margin-top: 5%;
}
.categorias{
    border: 1px solid #d9d9d9;
    height: 100%;
}
.categorias h1 a{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: #00802b;
    padding: 3% 25%;
    font-weight: bold;
    text-align: center;
}
.categorias h2 a{
    font-weight: bold;
    text-align: center;
    float: right;
    padding: 3% 25%;
    font-size: 17px;
    color: #4d4d4d;
    font-family: Helvetica, sans-serif;
    line-height: 25px;
}
.categorias a:hover{
    text-decoration: none;
    color: #004d00;
}
.painel_produto{
    border: 1px solid #d9d9d9;
}
.prop{
    margin-top: 5%;
}
.prop h2{
    float: left;
    font-family: Helvetica, sans-serif;
    font-size: 21px;
    color: #00802b;
    font-weight: bold;
    margin: 0 auto;
}
.rodape{
    background-color: #00802b;
    margin-top: 5%;
    padding: 1%;
}
.rodape h1{
    color: #004d00;
    font-size:16px;
    font-family: Helvetica, sans-serif;
    margin-left:35px;
}
.rodape ul li{
    color: white;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    font-family: Helvetica, sans-serif;
}
.rodape .cat{
    margin-top: 25px;
}
.owl-bruna .owl-nav {
    position: absolute;
    top: 30%;
    width: 100%;
    font-size: 50px;
    color:#666666;
}
.owl-bruna .owl-nav .owl-prev{
    float: left;
}
.owl-bruna .owl-nav .owl-next{
   position: absolute;
   right: 0px;
   top:0px;
}
.navbar-toggler{
    border:none !important;
    color:white !important;
}
.user{
    color: #cccccc;
    font-size: 170%;
}
.user:hover{
    color:#004d00;
}
center{
    margin-left: -5%;
}
@media only screen and (max-width: 600px) {
    .owl-carousel{
    z-index: 1;
    width: 95%;
    margin-left: 2%;
}
}
@media only screen and (max-width: 600px) {
    .menu ul li{
        text-align: left !important;
        margin-left: 0px !important;
    }
}
/*estilização do produtoespecifico.html - PRODUTO*/
.produtoespecifico{
    margin: 3% 0 2% 0;
}
.produtoespecifico img{
    padding: 2%;
    max-width: 250px;
    max-height: 250px;
}
.produtoespecifico h1{
    font-family: Helvetica, sans-serif;
    font-size: 21px;
    padding: 2% 3% 0 3%;
    font-weight: bold;
}
.produtoespecifico h4{
    font-family: Helvetica, sans-serif;
    color: #939090;
    font-size: 17px;
    padding: 0 3%;
}
.produtoespecifico h5{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 3%;
    color: red;
    font-weight: bold;
}
.produtoespecifico p{
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    padding: 0 3%;
}
.dep{
    text-align: center;
    height:400px; 
}
.dep .produto a{
    text-decoration: none;
    color:#666666;
    font-size: 18px;
}
.dep .produto a:hover{
    text-decoration: none;
    color:#3B3B3B;
    
}
